.about{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    gap: 20px;

    & h3{
        font-weight: 600;
        font-size: 16px;
        color: #212ea0;
    }
    & h2{
        font-weight: 600;
        font-size: 35px;
        color: #000f38;
        margin: 10px 0;
        max-width: 400px;
    }
    & p{
        color:#676767;
        margin-bottom: 15px;
    }
}
.about-left{
    flex-basis: 40%;
    position: relative;
}
.about-rigth{
    flex-basis: 56%;
}
.about-img{
    width: 350px;
    border-radius: 10px;
}
.play-icon{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about .about-title{
    display: none;
    margin-top: -30px;
    margin-bottom: -20px;
    & h2{
        font-size: 1.7rem;
    }
    & p{
        color: blue;
        font-size: 1.2rem;
        margin-bottom: -8px;
    }
}

@media (max-width:820px) {
    .about{
        flex-direction: column;
        margin: 0 auto;
        margin-top: 50px;
    }
    .about .about-right h3{
        display: none;
    }
    .about .about-right h2{
        display: none;
    }
    .about .about-title{
        display: block;
    }
}