nav{
    width:100% ;
    /* background:#333; */
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.logo{
    width: 180px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}
.dark-nav{
    background: #212ea0;
    transition: 0.5s;
}
.menu-icon{
  display: none;
  width: 30px;
  background: transparent;
  /* padding: 5px; */
  border-radius: 3px;
  transition:all 0.2s;
  &:hover{
    cursor: pointer;
    /* box-shadow: 0px 0px 10px rgb(161, 161, 161); */
    transform: scale(1.15);
  }
}

.mobile-menu{
  /* display: block; */
  right: 0;
  opacity: 1;
}

/* ======== Media Query ===== */
@media (max-width:840px){
  nav{
    padding: 10px 0;
  }
  nav ul{
    background: blue;
    position: fixed;
    top: 0;
    right:-180px;
    opacity: 0.1;
    /* bottom: 0; */
    /* padding-left: 10px; */
    z-index: -1;
    /* display: none; */
    padding:50px 20px 15px 20px;
    width: 180px;
    border-radius: 5px 0 5px 20px;
    transition:all 0.5s;
  }
  .menu-icon{
    display: block;
  }
}