.testimonials{
    margin: 30px auto;
    padding: 0 80px;
    position: relative;
}
.next-btn, .back-btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 15px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    background:#212ea0;
}
.back-btn{
    right: auto;
    left: 0;
}
.slider{
    overflow: hidden;

}
.slider ul{
    display: flex;
    width: 400%;
    overflow-x: hidden;
    transition: 0.2s;
}
.slider ul li{
    width: 100%;
    padding: 20px;

}
.slide{
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    padding: 40px;
    border-radius: 20px;
    color: #676767;
    line-height: 1.4;
    /* background: #fff; */
}
.slide img{
    width: 65px;
    border-radius: 50%;
    margin-right: 10px;
    border: 3px solid blue;
}
.user-info{
    display:flex;
    align-items:center;
    margin-bottom: 20px;
    font-size: 15px;
}
.user-info h3{
    color: blue;
}

@media (max-width:760px) {
    .testimonials{
        padding: 0 30px;
    }
    .next-btn, .back-btn{
        width: 45px;
    }
    .slide{
        & p{
            font-size: 0.9rem;
        }
        & img{
            width: 50px;
        }
    }
}
@media (max-width:465px){
    .slide{
        padding: 20px 30px;
    }
    .testimonials{
        padding: 5px;
    }
    .slider ul li{
        padding: 10px;
    }
    .next-btn, .back-btn{
        width: 40px;
        z-index: 1;
        /* background: rgb(123, 165, 255); */
    }
}